{
	"parser": "babel-eslint",
	"extends": "airbnb-base",
	"rules": {
		"quotes": [ 2, "double", { "avoidEscape": true } ],
		"array-bracket-spacing": [ 2, "always", { "objectsInArrays": false, "arraysInArrays": false }],
		"space-in-parens": [ 0, "always",  { "exceptions": [ ] } ],
		"space-before-blocks": [ "error", { "functions": "never", "keywords": "never", "classes": "always" } ],
		"space-before-function-paren": [ "error", "never" ],
		"indent": [ "error", "tab" ],
		"max-len": [ "error", { "code": 240 } ],
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"camelcase": [ 0 ],
		"keyword-spacing": [ "error", {
			"before": true,
			"after": true,
			"overrides": {
				"if": { "after": false },
				"while": { "after": false },
				"for": { "after": false }
			}
		}],
		"padded-blocks": [ 0 ],
		"key-spacing": [2, {
			"singleLine": {
				"beforeColon": true,
				"afterColon": true
			},
			"multiLine": {
				"beforeColon": false,
				"afterColon": true
			}
		}],
 		"no-multi-spaces": ["error", { "exceptions": { "VariableDeclarator": true } }],
		"no-unused-expressions": [ "error", { "allowShortCircuit": true, "allowTernary": true } ],
		"one-var": [ 0 ],
		"curly": [ 0, "multi-or-nest", "consistent" ],
		"computed-property-spacing": [ "error", "always" ],
		"no-param-reassign": [ 0 ],
		"no-shadow": [ 0 ]
	}
}
